// Our SCSS styles
@import "fonts";
@import "colors";

//общее

*,
* ::before,
* ::after {
    box-sizing: inherit;
    //overflow: hidden;
}

.body {
    // width: 100vw;
}

.screen {
    max-width: 1920px;
}

/*
.screen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
//Re-usable blocks

//button & modifiers

.button {
    @include noah-400-24;

    color: $lightColor;
    background-color: $themeColor;
    border: none;

    width: 311px;
    height: 60px;
}

.button--shape {
    border-radius: 50%;
    width: 191px;
    height: 191px;
}

.button--light {
    background-color: $lightColor;
    color: $themeColor;
}

.button--medium {
    background-color: $themeColor;
    opacity: 50%;
    color: $lightColor;
}

//title & modifiers
.title {
    @include noah-400-58;

    text-align: center;
    color: $darkColor;
}

//general styles
//header

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    &__container {

        width: 100%;
        max-width: 1920px;
        background-image: url('../../images/header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    &__top {
        width: 100%;
        max-width: 100%;
        padding-top: 5vh;

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .vesna-logo {
        width: 11vw;
        padding-left: 6vw;
    }

    .burger {
        display: none;
    }

    &__top-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 6vw;
    }

    &__nav {
        display: flex;
        justify-content: center;
        width: 40%;
        min-width: 40%;
    }

    &__menu {
        list-style: none;
        display: flex;
    }

    &__link {
        text-decoration: none;
        padding-inline: 1rem;
        color: $lightColor;
        white-space: nowrap;

        @include geometria-500-24;
    }

    &__button-text {
        @include noah-700-20;

        text-align: center;
        color: $lightColor;
    }

    &__middle {
        padding-left: 16vw;
        padding-top: 16vh;
        padding-bottom: 23vh;
    }

    &__text {
        @include noah-400-24;

        text-align: left;
        color: $lightColor;
    }

    .main-title {
        @include noah-700-70;

        text-align: left;
        color: $lightColor;
    }

    .title--header {
        color: $lightColor;
        text-align: left;
    }

    .branch-r {
        position: absolute;
        right: 0;
        bottom: 0%;

    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__project-image {
        width: 22vw;
        padding-left: 16vw;
    }

    &__bottom-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 13vw;

        padding-right: 13vw;
    }

    &__arrows {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8vw;
    }
}


@media screen and (max-width: 320px) {

    .header__top-right,
    .header__button-holder,
    .header__bottom-right {
        display: none;
    }

    .header {

        .vesna-logo {
            width: 34vw;
        }

        .burger {
            display: block;
            padding-right: 6vw;
        }

        &__middle {
            padding-left: 6vw;
        }

        &__text {
            @include noah-400-16;
        }

        .main-title {
            font-family: 'Noah';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
        }

        .title--header {
            font-family: 'Noah';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
        }

        &__project-image {
            width: 58vw;
            height: 13vh;
            padding-left: 0;
        }
    }

}


//place 

.place {
    &__container {
        padding-top: 211px;

        display: flex;
        justify-content: center;
    }

    &__description-holder {
        max-width: 1336px;
        min-width: 1200px;
        height: 417px;

    }

    &__text {
        width: 856px;
        height: 240px;

        @include noah-400-24;
        text-align: center;

        margin-left: 259px;
        margin-right: 221px;
        margin-top: 53px;
        margin-bottom: 200px;
    }

    .description {
        margin-bottom: 53px;

        @include noah-400-48;

        text-align: center;

    }

    &__left {
        position: absolute;
        left: 0px;
        top: 1540px;
    }

    .branch-l,
    .branch-r {
        height: 384px;
        width: 511px;
        border-radius: 0px;
    }

    &__right {
        position: absolute;
        top: 1540px;
        right: 0;

    }


    &__garden {
        max-width: 1920px;
        height: 410px;
        margin-top: 200px;

        display: flex;
        justify-content: center;
        gap: 27px;


        &__img {
            width: 579px;
            height: 410px;
        }
    }
}

//location

.location {

    padding-top: 200px;

    .description {
        @include noah-400-48;

        text-align: center;
        margin-left: 380px;
        margin-right: 380px;
        color: $darkColor;
    }


    &__background {
        display: flex;
        justify-content: center;
    }

    &__background-set {
        height: 900px;
    }

    .semicircle {
        width: 862px;
    }

    .branch-up {
        width: 316px;
        margin-left: -220px;
        margin-bottom: 53px;
    }

    &__content {
        display: flex;
        justify-content: center;
    }

    &__examples {
        width: 776px;
        height: 858px;
        margin-top: -812px;
    }

    &__examples-note {
        margin-left: 270px;
        margin-bottom: 14px;
        margin-top: 0px;

        @include noah-400-24;
    }

    &__examples-image1 {
        width: 701px;
        height: 526px;
        margin-left: 87px;
    }

    &__examples-image2 {
        width: 536px;
        height: 402px;
        margin-left: 327px;
        margin-top: -57px;
    }

    &__block {
        margin-top: -712px;
    }

    &__block-1 {
        display: flex;
        margin-left: 115px;
        margin-right: 86px;
    }

    &__block-2 {
        display: flex;
        margin-left: 165px;
        margin-top: 156px;
        margin-bottom: 161px;
        margin-right: 36px;
    }

    &__block-3 {
        display: flex;
        margin-left: 201px;
    }

    .tick-circle {
        width: 50px;
        height: 50px;
    }

    &__block-note {
        margin-left: 37px;
        margin-top: 0px;

        @include noah-400-24;

        text-align: start;
        color: $darkColor;

    }
}

//services 

.services {
    margin-top: 250px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 70px;
    }

    &__content {
        width: 399px;
        height: 678px;

        position: relative;
        margin-right: 70px;
    }

    &__subtitle {
        margin-top: 80px;

        @include noah-400-38;

        text-align: center;
        color: $darkColor;
    }

    .pencil-logo,
    .tree-logo,
    .fence-logo {
        position: absolute;
        top: 0px;

        width: 81px;
        height: 81px;
    }

    &__list {
        @include noah-400-24;
    }

    &__text {
        @include noah-400-24;

        color: $darkColor;
        margin-bottom: 20px;
    }
}

//instruction

.instruction {
    margin-top: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;


    &__background {
        height: 333px;
        width: 100%;
        max-width: 100vw;
        position: absolute;
        z-index: -1;

        background-color: $accentColor;
    }

    &__imageholder {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 1309px;
    }

    .get-instruction-mobile {
        display: none;
    }
}

//блок внутри insruction
.get-instruction {
    width: 50vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-bottom: 200px;

    &__interactions {
        display: flex;
        flex-direction: column;
        gap: 20px;

        height: 333px;
    }

    &__text {
        @include noah-400-24;

        color: $darkColor;
    }

    &__label {
        @include noah-400-16;

        color: $darkColor;
    }

    &__input {
        width: 638px;
        height: 50px;
        border: none;

        @include noah-400-24;

        color: $themeColor;
    }
}

@media screen and (max-width: 320px) {
    .instruction {

        .get-instruction,
        &__background,
        &__imageholder {
            display: none;
        }

        .get-instruction-mobile {
            display: block;
            width: 100vw;
            padding-bottom: 33px;
            padding-top: 40px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;



            .get-instruction__backgroundholder {
                background-color: $accentColor;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 100vw;
                padding-bottom: 33px;
                padding-top: 40px;
            }

            .title {
                @include noah-400-24;

                margin-bottom: 30px;
                margin-top: 0;
            }

            .get-instruction__text {
                margin-bottom: 0;
                margin-top: 33px;
            }

            .get-instruction__imageholder {
                width: 90vw;
            }

            .get-instruction__image {
                width: 100%;
            }

            .get-instruction__interactions {

                height: fit-content;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }

            .get-instruction__input {
                width: 90vw;
            }

            .get-instruction__checkboxholder {
                width: 90vw;
            }

            .button {
                width: 94vw;
            }
        }
    }
}

//designes
.designes {
    &__container {
        position: relative;
        /*height: 1070px;*/
        margin: 65px auto;
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    &__title-holder {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        display: flex;
        justify-content: center;
        /*flex-direction: column;*/
        flex-wrap: wrap;
        /*flex-flow: row wrap;*/

        align-content: center;
        gap: 5px;
        width: 100%;
    }

    /*&__designes__img {
        width: 45%;
        height: 45%;
    }*/

    &__image-container1,
    &__image-container2,
    &__image-container3,
    &__image-container4 {

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        width: 45%;
        height: 350px;
        justify-content: center;
        align-items: center;
    }

    &__image-container1 {
        background-image: url('../../images/designes__img1.jpg');
    }

    &__image-container2 {
        background-image: url('../../images/designes__img2.jpg');
    }

    &__image-container3 {
        background-image: url('../../images/designes__img3.jpg');
    }

    &__image-container4 {
        background-image: url('../../images/designes__img4.jpg');
    }

    .button-mobile {
        display: none;
    }

    .button {
        position: absolute;
        left: calc(50% - 195px/2);
        padding: 0;
        top: 52%;

        .button__text {
            @include noah-400-24;

            text-align: center;
        }
    }

    @media screen and (max-width: 320px) {
        &__container {
            margin: 0 auto;
            max-width: 100%;
        }

        &__image {
            max-width: 100%;
        }

        &__title-holder {
            @include noah-400-24;
        }

        &__image-container1,
        &__image-container2,
        &__image-container3,
        &__image-container4 {

            width: 100%;
            height: 180px;
            justify-content: end;
            align-items: end;
            margin: 5px;
        }

        .button {
            position: relative;
            top: 0;
            left: 0;
            background-color: $themeColor;

            .designes__button-text {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .button__text {
                color: $lightColor;
            }
        }

        .arrow-r {
            display: none;
        }

        .button--shape {
            width: 311px;
            height: 60px;
            border-radius: 0;
        }

        .button-mobile {

            display: flex;
            border-radius: 50%;
            width: 75px;
            height: 75px;
            background-color: rgba($color: $lightColor, $alpha: 0.5);
            align-items: center;
            justify-content: center;
        }

        .arrow-light-mobile {
            display: flex;
        }
    }
}

//dream
.dream {
    margin-top: 200px;
    padding-bottom: 170px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        flex-flow: row wrap;
        max-width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    &__title-holder {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 600px;
    }

    &__number {
        padding-right: 35px;

        @include mark-400-96;

        color: $themeColor;
    }

    &__text {

        /*width: 530px;*/
        @include noah-400-28;

        color: $darkColor;
    }

    &__image {
        position: absolute;
        //bottom: ?;
        z-index: -1;
    }


    @media screen and (max-width: 320px) {
        &__title-holder {
            @include noah-400-24;

        }

        &__item {
            flex-direction: column;
            gap: 0px;
            width: 320px;
        }

        &__image {
            display: none;
        }

        &__text {
            @include noah-400-16;
        }

        &__number {
            @include mark-400-64;

        }
    }
}

//privilege
.privilege {


    &__container {
        padding-top: 75px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: $accentColor;
    }

    &__titleholder {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__up {
        margin-top: 110px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 250px;
    }

    &__down {
        margin-top: 130px;
        margin-bottom: 110px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 500px;
    }

    &__part {
        display: flex;

        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__image {
        width: 74px;
    }

    &__text {
        @include noah-400-24;

        color: $darkColor;
    }

    @media screen and (max-width: 320px) {
        &__container {
            padding-top: 0px;
            align-items: stretch;
        }

        &__titleholder {
            @include noah-400-24;
            width: 235px;
        }

        &__up {
            margin-bottom: 50px;
        }

        &__up,
        &__down {
            flex-direction: column;
            gap: 100px;
            align-items: stretch;
            justify-content: flex-start;
            margin-top: 50px;

        }

        &__part {
            flex-direction: row;
            align-items: stretch;
        }

        &__image {
            width: 34px;
        }

        &__text {
            @include noah-400-16;
        }

    }
}

//feedback

.feedback {
    margin-top: 168px;

    &__container {
        display: flex;
        justify-content: center;

        flex-direction: column;
    }

    &__container-title {
        text-align: center;
    }

    &__content {
        margin-top: 50px;

        display: flex;
        justify-content: center;
        justify-self: center;
    }

    &__content-review {
        width: 573px;
    }

    &__content-image {
        margin-right: 109px;
        width: 546px;
        height: 478px;
    }

    .tree-logo {
        width: 90px;
        margin: 0px;
    }

    &__content-text-name {
        @include noah-400-38;
        color: $themeColor;
        margin-top: 28px;
        margin-bottom: 7px;
    }

    &__content-text-1 {
        @include noah-400-24;
        margin: 0px;
        color: $themeColor;
    }

    &__content-text {
        @include noah-400-24;
        margin-top: 34px;
    }

    &__content-review-arrows {
        display: flex;
        justify-content: end;
    }

    .arrow-l {
        margin-right: 47px;
    }

    &__container-scroll {
        margin-top: 80px;
        text-align: center;
    }

    .scroll {
        height: 19px;
        width: 139px;
    }
}

//questions

.questions {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 200px;
    margin-bottom: 200px;

    &__container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
    }

    &__content-holder {
        margin-right: 75px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    .title {
        margin-top: 0;
    }

    &__list {
        width: 45vw;
        list-style-type: none;

    }

    &__question {
        width: 100%;
        height: 80px;
        border-bottom: 1px solid $blakishColor;
        padding-top: 30px;
    }

    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include noah-700-28;

        border: 10px;
        border-color: $darkColor;
    }

    &__input {
        display: none;
    }


    &__text-holder {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }


    &__input:checked+&__text-holder {
        max-height: 120px;
        min-height: 120px;
        width: 37vw;
    }

    &__text {
        @include noah-400-24;

        color: $darkColor;
    }

    //transition for question-icons (active & inactive)

    .nc-int-icon-rotate {
        --animation-duration: 0.4s;
    }

    .nc-int-icon {
        position: relative;
    }

    .nc-int-icon-b {
        position: absolute;
        top: calc(50% - 0.5em);
        left: calc(50% - 0.5em);
        opacity: 0;
    }

    .nc-int-icon-rotate .nc-int-icon-a,
    .nc-int-icon-rotate .nc-int-icon-b {
        transition: opacity 0s calc(var(--animation-duration) / 2),
            transform var(--animation-duration);
        transform-origin: center center;
    }

    .nc-int-icon-rotate .nc-int-icon-b {
        transform: rotate(90deg) scale(0.6);
    }

    .nc-int-icon-state-b .nc-int-icon-a {
        opacity: 0;
    }

    .nc-int-icon-state-b .nc-int-icon-b {
        opacity: 1;
    }

    .nc-int-icon-rotate.nc-int-icon-state-b .nc-int-icon-a {
        transform: rotate(-90deg) scale(0.6);
    }

    .nc-int-icon-rotate.nc-int-icon-state-b .nc-int-icon-b {
        transform: rotate(0);
    }
}

@media screen and (max-width:320px) {
    .questions {
        .get-instruction {
            display: none;
        }

        &__content-holder {
            margin-right: 0;
        }

        &__list {
            width: 80vw;
        }

        .title {
            @include noah-400-24;
        }

        &__label {
            font-family: 'Noah';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
        }

        &__text {
            font-family: 'Noah';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            width: 70vw;
        }

        &__input:checked+&__text-holder {
            max-height: 120px;
            min-height: 120px;
            width: 70vw;
        }
    }
}

//re-use of get-instruction block

.get-instruction--small {
    width: 473px;
    padding-bottom: 33px;
    padding-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: $accentColor;

    .title {
        font-size: 38px;
        line-height: 47px;

        margin-bottom: 0;
        margin-top: 0;
    }

    .get-instruction__text {
        margin-bottom: 0;
        margin-top: 33px;
    }

    .get-instruction__imageholder {
        width: 474px;
    }

    .get-instruction__image {
        width: 100%;
    }

    .get-instruction__interactions {

        height: fit-content;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .get-instruction__input {
        width: 392px;
    }
}

//details

.details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__title {
        margin-bottom: 50px;
        margin-left: 50px;
    }

    .title {
        @include noah-700-70;
        text-align: left;
        width: 675.31px;
    }

    &__text {
        @include noah-400-38;
        text-align: left;
        width: 542px;
    }

    .arrow-vector {
        width: 236px;
        height: 27px;
        margin-left: -80px;
    }
}

//footer

.footer {
    max-height: 230px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 20px;

    background-color: $themeColor;
    color: $lightColor;


    &__number {
        padding-top: 60px;

        @include geometria-400-20;
        text-transform: uppercase
    }

    &__email {

        @include geometria-400-20;
    }

    &__copyright {
        margin-top: 65px;

        @include noah-400-16;
        text-transform: uppercase;
        opacity: 70%;
    }


    .vesna-logo--round {
        height: 181.27px;
    }

    &__right {
        gap: 120px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__privacy {
        @include noah-400-16;
    }

    .insta-logo {
        padding-top: 40px;

    }
}