@font-face {
  font-family: "Noah";
  src: url("../../fonts/Noah-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noah";
  src: url("../../fonts/Noah-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Marck Script";
  src: url("../../fonts/MarckScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noah";
  src: url("../../fonts/Noah-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

.screen {
  max-width: 1920px;
  width: 100vw;
}

.button {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  background-color: #545A2F;
  border: none;
  width: 311px;
  height: 60px;
}

.title {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 72px;
  color: #1A1A18;
}

.instruction {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.instruction .instruction__background {
  height: 333px;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background-color: #DDE3E1;
}

.instruction .instruction__imageholder {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instruction .instruction__image {
  width: 1309px;
}

.instruction .instruction__contentholder {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 200px;
}

.instruction .instruction__interactions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 333px;
}

.instruction .instruction__text {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1A1A18;
}

.instruction .instruction__label {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1A1A18;
}

.instruction .instruction__input {
  width: 638px;
  height: 50px;
  border: none;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #545A2F;
}

.designes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1790px;
  height: 1070px;
  margin: 65px auto;
  position: relative;
}

.designes__image {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  gap: 5px;
}

.designes__picture {
  width: 49%;
  height: 50%;
}

.button--shape {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  font-size: 16px;
  background-image: url(../../images/arrow-r.png);
  background-repeat: no-repeat;
  background-position: 90%;
  font-family: "Noah";
  font-weight: 400;
  font-size: 24px;
  text-align: start;
}