@font-face {
  font-family: "Noah";
  src: url("../../fonts/Noah-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noah";
  src: url("../../fonts/Noah-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Marck Script";
  src: url("../../fonts/MarckScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: url("../../fonts/Geometria-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noah";
  src: url("../../fonts/Noah-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
.screen {
  max-width: 1920px;
  width: 100vw;
}

.button {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  background-color: #545A2F;
  border: none;
  width: 311px;
  height: 60px;
}

.title {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 72px;
  color: #1A1A18;
}

.instruction {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.instruction .instruction__background {
  height: 333px;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background-color: #DDE3E1;
}
.instruction .instruction__imageholder {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instruction .instruction__image {
  width: 1309px;
}
.instruction .instruction__contentholder {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 200px;
}
.instruction .instruction__interactions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 333px;
}
.instruction .instruction__text {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #1A1A18;
}
.instruction .instruction__label {
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1A1A18;
}
.instruction .instruction__input {
  width: 638px;
  height: 50px;
  border: none;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #545A2F;
}

.place__container {
  display: flex;
  justify-content: center;
}

.place__description-holder {
  width: 1336px;
  height: 417px;
}

.description {
  margin-bottom: 53px;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
}

.place__text {
  width: 856px;
  height: 240px;
  font-family: "Noah";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-left: 259px;
  margin-right: 221px;
  margin-top: 53px;
  margin-bottom: 200px;
}

.place__left {
  position: absolute;
  left: 0px;
  margin-bottom: 68px;
}

.place__right {
  position: absolute;
  right: 0px;
  margin-bottom: 68px;
}

.branch-l {
  height: 384px;
  width: 511px;
  border-radius: 0px;
}

.place__garden {
  width: 1920px;
  height: 410px;
  margin-top: 465px;
  display: flex;
  gap: 27px;
  margin-left: 65px;
  margin-right: 65px;
}

.place__img-1, .place__img-2, .place__img-3 {
  width: 579px;
  height: 410px;
}
